@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #252525;
  height: 10vh;
}
.iconePataNav {  
  width: 1.8vw;
  height: 3.6vh;
}
.primeiraCaixaFigure {
  display: flex;
  align-items: center;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
  color: white;
  width: 50vw;
  height: 10vh;
}
.segundaCaixaFigure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8vw;
  height: 10vh;
}
.iconeInstagram {
  width: 1.5vw;
  height: 2.8vh;
}
.iconeYoutube {
  width: 1.9vw;
  height: 2.5vh;
}
.iconeWhatsapp {
  width: 1.4;
  height: 2.6;
}